<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
		table
		  {
		 
		  }
		
			table, td, th{
			  		border:1px solid #C4C3C3;
			}
			table{
				 border-collapse:collapse;
				 text-align:center;
				
			}
		</style>
	</head>
	<body>
		<div id="test">
			<!--<table>
				<thead>
					<th></th>
					<th></th>
					<th>时间</th>
					<th>定金数</th>
					<th>状态</th>
					<th>操作</th>
				</thead>
				<tbody v-for="item in dataLists">
					<tr style="background:#00BFFF">
						<td></td>
						<td>{{item.name}}</td>
						<td>{{item.date}}</td>
						<td>{{item.dingjin}}</td>
						<td></td>
						<td></td>
					</tr>
					<tr v-for="value in item.departs" style="background:orange">
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td>{{value.name}}</td>
						<td>{{value.date}}</td>
						<td>{{value.dingjin}}</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					</tr>
				</tbody>
			</table>-->
			<table v-for="(menu,key) in dataLists">
				<colgroup>
					<col width="120px"/>
					<col width="120px"/>
					<col width="100px"/>
					<col width="120px"/>
					<col width="120px"/>
					<col width="120px"/>
				</colgroup>
				<thead v-if="key==0">
					<th></th>
					<th></th>
					<th>时间</th>
					<td v-for="a in headers">{{a.name}}</td>
					<th>状态</th>
					<th>操作</th>
				</thead>
				<tbody>
					<tr style="background:#00BFFF">
						<td></td>
						<td>{{menu.name}}</td>
						<td>{{menu.date}}</td>
						<td v-for="(b,index) in menu.quotaList">{{b}}</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
				<tbody v-for="item in menu.departs">
				
					<tr v-for="value in item.customer" >
						<td><input type="checkbox" /></td>
						<td>{{value.name}}</td>
						<td>{{value.date}}</td>
						<td v-for="(b,index) in value.quotaList">{{b}}</td>
						<td>未提交</td>
						<td>删除</td>
					</tr>
					<tr style="background:orange">
						<td></td>
						<td>{{item.name}}</td>
						<td>{{item.date}}</td>
						<td v-for="(b,index) in item.quotaList">{{b}}</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
		<script type="text/javascript">
			var vm=new Vue({
				el:"#test",
				data:{
					headers:[
						{
							name:"定金数",
							id:0
						},
						{
							name:"到店数",
							id:1
						},
						{
							name:"有效合同数",
							id:2
						}
					],
					dataLists:[
						{
							name:"广州门店月目标",
							date:"2017/1",
							quotaList:{
								0:125,
								1:122,
								2:110
							},
							departs:[
								{
									name:"销售1",
									date:"2017/1",
									quotaList:{
										0:45,
										1:78,
										2:99
									},
									customer:[
										{
											name:"张三",
											date:"2017/1",
											quotaList:{
												0:12,
												1:40,
												2:32
											}
										},
										{
											name:"李四",
											date:"2017/1",
											quotaList:{
												0:12,
												1:40,
												2:32
											}
										},
										{
											name:"王五",
											date:"2017/1",
											quotaList:{
												0:12,
												1:40,
												2:32
											}
										}
									]
								},
								{
									name:"销售2",
									date:"2017/1",
									quotaList:{
										0:45,
										1:78,
										2:99
									},
									customer:[
										{
											name:"张三",
											date:"2017/1",
											quotaList:{
												0:12,
												1:40,
												2:32
											}
										},
										{
											name:"李四",
											date:"2017/1",
											quotaList:{
												0:12,
												1:40,
												2:32
											}
										},
										{
											name:"王五",
											date:"2017/1",
											quotaList:{
												0:12,
												1:40,
												2:32
											}
										}
									]
								}
							]
						},
						{
							name:"广州门店月目标",
							date:"2017/2",
							quotaList:{
								0:121,
								1:124,
								2:112
							},
							departs:[
								{
									name:"销售1",
									date:"2017/2",
									quotaList:{
										0:45,
										1:78,
										2:99
									},
									customer:[
										{
											name:"张三",
											date:"2017/2",
											quotaList:{
												0:12,
												1:40,
												2:34
											}
										},
										{
											name:"李四",
											date:"2017/2",
											quotaList:{
												0:12,
												1:41,
												2:32
											}
										},
										{
											name:"王五",
											date:"2017/2",
											quotaList:{
												0:16,
												1:40,
												2:32
											}
										}
									]
								},
								{
									name:"销售2",
									date:"2017/2",
									quotaList:{
										0:45,
										1:78,
										2:99
									},
									customer:[
										{
											name:"张三",
											date:"2017/2",
											quotaList:{
												0:12,
												1:40,
												2:32
											}
										},
										{
											name:"李四",
											date:"2017/2",
											quotaList:{
												0:12,
												1:40,
												2:32
											},
										},
										{
											name:"王五",
											date:"2017/2",
											quotaList:{
												0:12,
												1:40,
												2:32
											},
										}
									]
								}
							]
						},
						{
							name:"广州门店月目标",
							date:"2017/3",
							quotaList:{
								0:111,
								1:126,
								2:144
							},
							departs:[
								{
									name:"销售1",
									date:"2017/3",
									quotaList:{
										0:45,
										1:78,
										2:99
									},
									customer:[
										{
											name:"张三",
											date:"2017/3",
											quotaList:{
												0:12,
												1:40,
												2:32
											},
										},
										{
											name:"李四",
											date:"2017/3",
											quotaList:{
												0:12,
												1:40,
												2:32
											},
										},
										{
											name:"王五",
											date:"2017/3",
											quotaList:{
												0:12,
												1:40,
												2:32
											},
										}
									]
								},
								{
									name:"销售2",
									date:"2017/3",
									quotaList:{
										0:45,
										1:78,
										2:99
									},
									customer:[
										{
											name:"张三",
											date:"2017/3",
											quotaList:{
												0:32,
												1:42,
												2:32
											}
										},
										{
											name:"李四",
											date:"2017/3",
											quotaList:{
												0:12,
												1:40,
												2:32
											}
										},
										{
											name:"王五",
											date:"2017/3",
											quotaList:{
												0:12,
												1:40,
												2:32
											},
										}
									]
								}
							]
						}
					
					]
				}
			});
		</script>
	</body>
</html>
